@page "/login"
@using TaskManager.Domain.DTO
@using TaskManager.Client.Services
@inject UserService UserService
@inject NavigationManager Nav
@inject AuthService Auth

<h3>Вход</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <p style="color: red">@Message</p>
}

<div>
    <label>Логин:</label>
    <input @bind="Model.Login" />
</div>
<div>
    <label>Пароль:</label>
    <input type="password" @bind="Model.Password" />
</div>

<button @onclick="LoginUser">Войти</button>

@code {
    private LoginRequest Model = new();
    private string? Message;

    private async Task LoginUser()
    {
        var user = await UserService.LoginAsync(Model);
        if (user != null)
        {
            Auth.LoginUser($"{user.FirstName} {user.LastName}", user.Login, Model.Password);
            Nav.NavigateTo("/profile");
        }
        else
        {
            Message = "Неверный логин или пароль.";
        }
    }
}
