@page "/register"
@using TaskManager.Client.Services
@inject AuthService Auth
@inject NavigationManager Nav

<h3>Регистрация</h3>

<div>
    <label>Имя:</label>
    <input @bind="Name" />
</div>
<div>
    <label>Логин:</label>
    <input @bind="Login" />
</div>
<div>
    <label>Пароль:</label>
    <input type="password" @bind="Password" />
</div>
<button @onclick="RegisterUser">Зарегистрироваться</button>

@code {
    public string Name { get; set; } = string.Empty;
    public string Login { get; set; } = string.Empty;
    public string Password { get; set; } = string.Empty;

    private void RegisterUser()
    {
        Console.WriteLine($"НАЖАТИЕ: {Name} / {Login} / {Password}");
        Auth.LoginUser(Name, Login, Password);
        Nav.NavigateTo("/profile");
    }
}
