@page "/register"
@using TaskManager.Domain.DTO
@using TaskManager.Client.Services
@inject UserService UserService
@inject NavigationManager Nav

<h3>Регистрация</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <p style="color: red">@Message</p>
}

<div>
    <label>Фамилия:</label>
    <input @bind="Model.LastName" />
</div>
<div>
    <label>Имя:</label>
    <input @bind="Model.FirstName" />
</div>
<div>
    <label>Отчество:</label>
    <input @bind="Model.SurName" />
</div>
<div>
    <label>Логин:</label>
    <input @bind="Model.Login" />
</div>
<div>
    <label>Пароль:</label>
    <input type="password" @bind="Model.Password" />
</div>

<button @onclick="RegisterUser">Зарегистрироваться</button>

@code {
    private RegisterRequest Model = new();
    private string? Message;

    private async Task RegisterUser()
    {
        var result = await UserService.RegisterAsync(Model);
        if (result == null)
        {
            Nav.NavigateTo("/login");
        }
        else
        {
            Message = result;
        }
    }
}
